build:
  performance:
    jobs:
      run-grakn:
        machine: grabl-ubuntu-2004
        type: background
        timeout: "18000"
        script: |
          mkdir -p ~/.config/gcloud/
          echo $GRABL_RBE_CREDENTIAL > ~/.config/gcloud/application_default_credentials.json
          git clone https://github.com/lolski/grakn.git
          cd grakn
          git checkout f04512e47c6b8b4ed87239870d07b3ce7f2c58ee
          cp rootCA.jks /tmp/rootCA.jks
          bazel build --config=rbe //:assemble-linux-targz
          mkdir dist
          tar -xf ./bazel-bin/grakn-core-all-linux.tar.gz -C ./dist/
          cd ./dist/grakn-core-all-linux/
          # SERVER_JAVAOPTS="-Djavax.net.ssl.trustStore=/tmp/rootCA.jks -Djavax.net.ssl.trustStorePassword=changeit" \
          #   ./grakn server start -- \
          #   --tracing-enabled \
          #   --tracing-uri $GRABL_URI \
          #   --tracing-username lolski \
          #   --tracing-access-token $GRABL_TOKEN
          ./grakn server start
          export GRABL_EXPORT_GRAKN_URI="${HOSTNAME}:48555"
      test-performance-big:
        machine: grabl-ubuntu-2004
        type: foreground
        timeout: "18000"
        script: |
          mkdir -p ~/.config/gcloud/
          echo $GRABL_RBE_CREDENTIAL > ~/.config/gcloud/application_default_credentials.json
          git clone https://github.com/lolski/simulation.git
          cd simulation
          git fetch origin tracing-test
          git checkout 4e2d08f5c0652415a7fed84e0823361b6f902388
          cp rootCA.jks /tmp/rootCA.jks
          bazel run --config=rbe //:simulation -- \
            --keyspace world \
            --grakn-uri $GRABL_EXPORT_GRAKN_URI \
            --tracing-uri $GRABL_URI \
            --org $GRABL_OWNER \
            --repo $GRABL_REPO \
            --commit $GRABL_COMMIT \
            --username lolski \
            --api-token $GRABL_TOKEN \
            --iterations 5 \
            -f 1 \
            --seed 1 || true
          sleep 5h
    execution:
      - run-grakn
      - test-performance-big:
          depends: [run-grakn]

